// Navigation Styles here
nav{
    display:flex;
    align-content:flex-end;
    ul{
        
        justify-content: space-between;
        li{
            display:inline;
            font-size:2rem;
            justify-content: space-between;
        }
    }
}